@charset "utf-8";
body{
		background-image: url("../img/full-bloom.jpg");
		background-repeat: repeat;
}

input[type=submit]{
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 16px;
	background-color: #000000;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
	
input[type=submit]:hover{
	background-color: #555555;
}

.defaultTable{
	width: 1080px;
	border: 0px;
	margin: 50px;
}

.defaultTable td{
	width:25%;
	height:50px;
	font-size:16px;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;	
}

.defaultTable th{
	width:25%;
	height:50px;
	font-size:16px;
	font-weight:bold;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;	
}

.top{
	
	top: 20px;
	text-align: left; 
	font-size: 0; 
	letter-spacing: 0px; 
	word-spacing: -4px;

 	
}

.top li{
	display: inline-block; 
	*display: inline; 
	zoom:1; 
	letter-spacing: normal; 
	word-spacing: normal;
	padding:30px;
	font-size: 20px;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	background-color: transparent;
	opacity:0.8;
	
}

.top ul{
	margin: -8px;
	padding: 0px;	
 	background-color:#;
}
		
.dropDown {
    position: relative;
    display: inline-block;
}

.dropDownContent{
    display: none;
    position: absolute;
}
		
a:link{
		width: 60px;
		color: black;
		text-decoration: none;
}
	
a:hover{color:grey;opacity: 0.5;}

#pic1{
		display: block;
		margin-left: auto;
		margin-right: auto;
		margin-top: -10px;
	 }
	 
.search{
		text-align: center;
		margin-bottom: 20px;
		color: #555555;			
		}
		
.search input[type=text]{
	padding: 2px 20px 2px 40px;
 	border: 1px solid #ccc;
 	border-radius: 4px;
    font-size: 16px;
  	width: 180px;
  	height: 29px;
  				  
  	background-image: url("../img/searchicon.jpg");
    background-repeat: no-repeat;			  
	}

.bottom{
		float:right;
		bottom: 40px;
		right: 20px;
}
.bottom ul{
		margin: 0px;
}
.bottom li{
		display: inline;
		margin:0px 40px 0px 40px;
		font-size: 20px;
		font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}